html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

header {
    padding:1px
}

.content-wrap {
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
  padding: 60px 0;
}

 .profile {
     background: #E8C95D; /*yellow*/
 }

 .work-experience {
   background: #A9D8C8; /*seafoamy blue*/
 }

 .skills {
   background: #D16B54; /*red*/
 }

 .education {
   background: #604965; /*violet*/
 }

 .contact {
   background: #B9B09F; /*dove grey*/
 }

body {
  font-family: "gentium book basic";
}

header h1 {
  /* For all of h1 except the accent words which will follow 'span' */
  font-family: "open sans";
  font-weight: 700;
  font-size: 48px;
  margin: 0px 0px 16px;
  text-transform: uppercase;
}

.lowlight-white {
  font-family: "gentium book basic";
  text-transform: none;
  font-style: italic;
  /* For the Patricia in Patricia Gillett-Kawamoto */
}

h2 {
  font-family: "open sans"
}
